
.buttonAdd{
  background-color: rgb(59, 59, 206);
  font-weight: 500;
}

.formModalAddProducts{
  display: flex;
  flex-direction: column;

  input + label{
    margin-top: .6rem;
  }

  input{
    border-radius: 0.25rem;
    height: 2.3rem;
    padding-left: 1rem;
  }
  label{
    color: #131314;
    font-weight: bold;
    text-transform: capitalize;
  }

  input[type="number"]{
    margin-bottom: .6rem;
  }

  input:focus, textarea:focus{
    border: 1px solid rgb(59, 59, 206);
    outline: 1px solid rgb(59, 59, 206);
  }


  textarea{
    border-radius: 0.25rem;
    height: 10rem;
    resize: none;
    margin-bottom: 1rem;
    padding-inline: 1rem;
  }

  button{
    margin: 0 auto;
    width: 10rem;
    display: inline-block;
    font-size: 1.1rem;
    padding: .2rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(59, 59, 206);
    color:white;
    font-weight: 500;
    transition: .2s ease;
    border: 2px solid white;
    border-radius: 0.5rem;


    &:hover{
      color: rgb(59, 59, 206);
      background-color: white;
      border: 2px solid rgb(59, 59, 206);
    }

  }  
}