.containerMain {
  width: 100%;
  min-height: 100vh;
  height: calc(100% - 8rem);

  padding-block: 0.5rem;
  padding-inline: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  flex: 1;
}
