.card {
  width: 18rem;
  height: 32rem;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.281);
}

.description {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.between{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #131314c2;

  border-radius: 0.25rem;
  height: 3rem;
  margin-top: 1rem;
  padding: 0.5rem;

  .containerSvg {
    svg {
      color: #131314;
      background-color: white;
      font-size: 1.7rem;
      padding: 0.4rem;
      // margin-left: 1rem;
      border-radius: 0.25rem;
      cursor: pointer;
    }

    svg + svg {
      margin-left: 1rem;
    }
  }
}

img {
  width: 50%;
  height: calc(100% - 8rem);

  @media (max-width: 768px) {
    width: 90%;
  }
}
